.hero-img-container {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-image: url("../images/hero-image.jpeg");
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative; /* for child parent opacity */
}

.hero-img-container .content {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute; /* for skipping parent opacity */
}

.hero-img-container .content h1 {
  font-size: 8rem;
  padding: 0.6rem 0 1.5rem;
  font-weight: 200;
  font-style: italic;
}

.hero-img-container .content p {
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.hero-img-container::before {
  /* this adds backgound image opacity */
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.35);
}

/* id for block the paralax picture without content */
.hero-img-container-no-context {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-image: url("../images/hero-image2.jpeg");
  background-attachment: fixed;
}

@media screen and (max-width: 1040px) {
  .hero-img-container {
    height: 400px;
  }

  .hero-img-container-no-context {
    height: 400px;
  }

  .hero-img-container .content h1 {
    font-size: 5rem;
  }
}
