.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-right: 8rem;
}

.nav-menu a {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0rem 3.5rem;
  border-right: 1px solid #fff;
  text-transform: uppercase;
  transition: 0.5s;
}

.last-nav-item a {
  border-right: none;
}

.nav-logo {
  font-style: italic;
}

.nav-menu a:hover {
  color: aqua;
  transition: 0.4s;
  font-size: 150%;
}
