.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-right: 7rem;
}

.nav-menu a {
  font-size: 1.4rem;
  font-weight: 600;
  /* padding: 0rem 3.5rem; */
  /* border-right: 1px solid #fff; */
  text-transform: uppercase;
  transition: 0.5s;
}

.last-nav-item a {
  border-right: none;
}

.nav-logo {
  filter: invert(100%);
  width: 75px;
  margin-left: 10px;
}

.nav-menu a:hover {
  transition: 0.4s;
  font-size: 200%;
}
